# Ignore all Python bytecode
*.pyc

# Ignore folders
__pycache__/
data/data_pickle_or_hdf5/
.venv/
initial_ideas/outs/
phase_I/outs/
phase_I/out2/
.git_OLD/
nifty/
.coverage/
phase_II/outs/
phase_II/nifty_re_playground/re_pipe_1
phase_II/nifty_re_playground/re_pipe_2

# Ignore OS files
.DS_Store

# Ignore whatever this is
.idea

# Ignore misc
phase_II/wigner_result_pipe_2.pickle